body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    text-align: center;
    margin: 0;
    padding: 20px;
    transition: background 0.5s ease;
}

h1{
    color: white;
    margin-bottom: 30px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.caja{
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.caja:hover{
    transform: scale(1.05);
}

.boton{
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Colores */
.azul{ background-color: #3498db; }
.morado{ background-color: #8e44ad; }
.verde{ background-color: #2ecc71; }
.rojo{ background-color: #e74c3c; }
.naranja{ background-color: #f39c12; }
.oscuro{ background-color: #2c3e50; }

input{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid gray;
    transition: all 0.3s ease;
}

input:focus{
    border: 2px solid #3498db;
    outline: none;
    transform: scale(1.05);
}